<div id="navbar" class="custom-navbar" *ngIf="this.router.url!='/Login' && this.router.url!='/Register'&& this.router.url!= '' " align="right">
        <span class="pr-5"><a routerLink="/Dashboard" style="color:white;text-transform: uppercase;letter-spacing: 2px;">Home</a></span>
        <span class="pr-5"><a routerLink="/Dashboard" style="color:white;text-transform: uppercase;letter-spacing: 2px;">Start investing</a></span>
        <span class="pr-5"><a routerLink="/Dashboard" style="color:white;text-transform: uppercase;letter-spacing: 2px;">My Account</a></span>
</div>

<router-outlet></router-outlet>
