<div class="container" style="padding-top:100px;">
  <div class="row" align="center">
    <div class="col-12 col-md-6">
      <div class="custom-card a">
        <img src="https://media.discordapp.net/attachments/212893004740952065/751845120285999154/stocks.png" style="width:120px;margin-bottom:20px">
        <p style="text-transform: uppercase;font-size:18px;color:rgb(0,0,80)">Stocks</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="custom-card b" routerLink="/Investment-Strategies">
        <img src="https://cdn.discordapp.com/attachments/212893004740952065/751845122429288498/start.png" style="width:120px;margin-bottom:20px">
        <p style="text-transform: uppercase;font-size:18px;color:rgb(0,0,80)">Investment Strategies</p>
      </div>
    </div>
  </div>
</div>
