.custom-card{
    padding:10px;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    background-color:white;
    cursor: pointer;
    margin-bottom:15px;
}

.custom-card.active{
   background-color:  rgb(22,44,83)!important;
   color:white!important;
}

.register-container{
    box-shadow:0 0 5px rgba(0,0,0,0.3);max-width:800px;border-radius:10px;margin-bottom:50px;
}
