<div class="container" style="padding-top:100px;">
  <h3 style="color:white;border-bottom:1px solid white;margin-bottom:40px">Investment Strategies</h3>
  <div class="row" align="center">
    <div class="col-12 col-md-6">
      <mat-card class="custom-card"  data-toggle="modal" data-target="#modal1">
        Dollar Cost Averaging
      </mat-card>
    </div>
    <div class="col-12 col-md-6">
      <mat-card class="custom-card" data-toggle="modal" data-target="#modal2">
        Asset allocation
      </mat-card>
    </div>
    <div class="col-12 col-md-6">
      <mat-card class="custom-card" data-toggle="modal" data-target="#modal3">
        Portfolio rebalancing
      </mat-card>
    </div>
    <div class="col-12 col-md-6">
      <mat-card class="custom-card" data-toggle="modal" data-target="#modal4">
        Staying invested
      </mat-card>
    </div>
  </div>
</div>

<div class="modal fade " id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <mat-card-title>Dollar Cost Averaging</mat-card-title><hr>
        <ul>
          <li>Dollar Cost Averaging (DCA) is a disciplined, unemotional and balanced approach to making an investment, and involves spreading out your stocks/funds purchases.
          </li>
          <li>You are essentially investing roughly the same amount of money at regular intervals (e.g every month), regardless of the price when you buy. By doing so, you are lowering investment risks associated with a bear market, which is a market with declining prices, and reducing impact of market volatility.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
         <mat-card-title>Asset allocation</mat-card-title><hr>
        <ul>
          <li>an investment strategy that aims to balance risks and rewards by diversifying your resources amongst different types of investments. This will help to limit losses and reduce the fluctuations of investment returns without sacrificing too much potential gain in the long run.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
         <mat-card-title>Portfolio rebalancing</mat-card-title><hr>
        <ul>
          <li>Rebalancing is the process of realigning the weightings of a portfolio of assets.
          </li>
          <li>It involves periodically buying or selling assets in a portfolio to maintain an original or desired level of asset allocation or risk.</li>
          <li>For example, say an original target asset allocation was 50% stocks and 50% bonds. If the stocks performed well during the period, it could have increased the stock weighting of the portfolio to 70%. Since stocks carry a greater risk, the investor may then decide to sell some stocks and buy bonds to get the portfolio back to the original target allocation of 50/50.</li>
          <li>‘Sell high, buy low’</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
         <mat-card-title>Staying invested</mat-card-title><hr>
        <ul>
          <li>Staying invested to capture long-term market return is key to a successful investing experience.

          </li>
          <li>Investors may make poor decisions when emotions take over, tending to buy out of excitement when the market is going up and sell out of fear when the market is falling. Markets ultimately do stabilize, and when they do, those who stay invested may benefit more than those who don't.</li>
        </ul>
      </div>
    </div>
  </div>
</div>